Repository Beafowl-Pull/Whanos, pull requests merged in 2023-11, with the labels that each got.

#2 whanos_base -> dev
  .github/workflows/mirroring.yml
  .gitignore
  Dockerfile
  README.md
  docs/INSTALL.md
  images/befunge/.gitkeep
  images/c/.gitkeep
  images/java/.gitkeep
  images/javascript/.gitkeep
  images/python/.gitkeep
  jenkins/.gitkeep
Labels: enhancement

#4 image_cpp -> dev
  images/cpp/Dockerfile.base
  images/cpp/Dockerfile.standalone
Labels: enhancement, docker

#5 image_c -> dev
  images/c/.gitkeep
  images/c/Dockerfile.base
  images/c/Dockerfile.standalone
Labels: enhancement, docker

#7 image_c -> dev
  images/c/.gitkeep
  images/c/Dockerfile.base
  images/c/Dockerfile.standalone
Labels: enhancement, docker

#11 Java Dockerfile -> dev
  images/java/Dockerfile.base
  images/java/Dockerfile.standalone
Labels: enhancement, images, docker

#14 Fix tom.xml path
  images/java/Dockerfile.base
  images/java/Dockerfile.standalone
Labels: enhancement, images, docker

#13 image_befunge -> dev
  images/befunge/.gitkeep
  images/befunge/Dockerfile.base
  images/befunge/Dockerfile.standalone
Labels: enhancement, images, docker

#19 jenkins_job_groovy -> dev
  jenkins/job_dsl.groovy
Labels: enhancement, jenkins

#10 image_javascript -> dev
  images/javascript/.gitkeep
  images/javascript/Dockerfile.base
  images/javascript/Dockerfile.standalone
Labels: enhancement, docker

#22 Add Dockerfiles for python
  images/python/Dockerfile.base
  images/python/Dockerfile.standalone
Labels: enhancement, images, docker

#24 Brainfuck Dockerfiles -> dev
  images/brainfuck/Dockerfile.base
  images/brainfuck/Dockerfile.standalone
Labels: enhancement, images, docker

#28 docker-compose -> dev
  .gitignore
  Dockerfile
  clean.sh
  daemon.json
  docker-compose.yml
  helm/Whanos/.helmignore
  helm/Whanos/Chart.yaml
  helm/Whanos/templates/jenkins.deployment.yml
  helm/Whanos/templates/jenkins.secret.yml
  helm/Whanos/templates/jenkins.service.yml
  helm/Whanos/values.yaml
  images/befunge/Dockerfile.base
  images/c/Dockerfile.standalone
  images/cpp/Dockerfile.base
  images/cpp/Dockerfile.standalone
  images/java/.gitkeep
  images/java/Dockerfile.base
  images/python/.gitkeep
  images/python/Dockerfile.base
  images/python/Dockerfile.standalone
  jenkins/config.yml
  jenkins/deploy.sh
  jenkins/plugins.txt
Labels: enhancement, images, jenkins, docker

#27 https://youtu.be/6CR0uVkX1TU?si=eEyB-QXrMe5YtonA
  jenkins/config.yml
  jenkins/display_rand_wanos.sh
  jenkins/job_dsl.groovy
Labels: enhancement, jenkins

#29 dev -> main
  .github/workflows/mirroring.yml
  .gitignore
  Dockerfile
  README.md
  clean.sh
  daemon.json
  docker-compose.yml
  docs/INSTALL.md
  helm/Whanos/.helmignore
  helm/Whanos/Chart.yaml
  helm/Whanos/templates/jenkins.deployment.yml
  helm/Whanos/templates/jenkins.secret.yml
  helm/Whanos/templates/jenkins.service.yml
  helm/Whanos/values.yaml
  images/befunge/Dockerfile.base
  images/befunge/Dockerfile.standalone
  images/brainfuck/Dockerfile.base
  images/brainfuck/Dockerfile.standalone
  images/c/Dockerfile.base
  images/c/Dockerfile.standalone
  images/cpp/Dockerfile.base
  images/cpp/Dockerfile.standalone
  images/java/Dockerfile.base
  images/java/Dockerfile.standalone
  images/javascript/Dockerfile.base
  images/javascript/Dockerfile.standalone
  images/python/Dockerfile.base
  images/python/Dockerfile.standalone
  jenkins/config.yml
  jenkins/deploy.sh
  jenkins/display_rand_wanos.sh
  jenkins/job_dsl.groovy
  jenkins/plugins.txt
Labels: documentation, enhancement, images, jenkins, docker

#31 fix_crash_on_second_launch -> dev
  jenkins/deploy.sh
  jenkins/job_dsl.groovy
Labels: bug, jenkins

#33 do_helm -> dev
  Dockerfile
  deployOnServer.sh
  docker-compose.yml
  docs/INSTALL.md
  helm/AutoDeploy/.helmignore
  helm/AutoDeploy/Chart.yaml
  helm/AutoDeploy/templates/AutoDeployment.yml
  helm/AutoDeploy/values.yaml
  helm/Whanos/templates/dind.configmap.yml
  helm/Whanos/templates/dind.deployment.yml
  helm/Whanos/templates/dind.service.yml
  helm/Whanos/templates/jenkins.deployment.yml
  helm/Whanos/templates/jenkins.secret.yml
  helm/Whanos/templates/jenkins.service.yml
  helm/Whanos/values.yaml
  jenkins/deploy.sh
  utils/daemon.json
  utils/reboot
  utils/reboot.service
Labels: documentation, enhancement, helm

#34 dev -> main
  Dockerfile
  deployOnServer.sh
  docker-compose.yml
  docs/INSTALL.md
  helm/AutoDeploy/.helmignore
  helm/AutoDeploy/Chart.yaml
  helm/AutoDeploy/templates/AutoDeployment.yml
  helm/AutoDeploy/values.yaml
  helm/Whanos/templates/dind.configmap.yml
  helm/Whanos/templates/dind.deployment.yml
  helm/Whanos/templates/dind.service.yml
  helm/Whanos/templates/jenkins.deployment.yml
  helm/Whanos/templates/jenkins.secret.yml
  helm/Whanos/templates/jenkins.service.yml
  helm/Whanos/values.yaml
  jenkins/deploy.sh
  jenkins/job_dsl.groovy
  utils/daemon.json
  utils/reboot
  utils/reboot.service
Labels: enhancement, helm
